@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.progTrack ul {
    list-style-type: none;
    padding-left: 0;
}

:root {
    font-family: "DM Serif Display";
    color: #fffffe;
    background-image: url("/assets/grain-bg.png");
    background-repeat:repeat;
    background-blend-mode: multiply;
    background-color: rgba(40,40,40,1);
    background-position: center center;
    background-attachment: fixed;
    padding: 1em;
    padding-top: 0em;
}

.back {
    position: absolute;
    top: 0.35em;
    left: 4.5em;
}

.home {
    position: absolute;
    top: 0.35em;
    left: 1.5em;
}

a {
    color: #FF884D !important;
}

red {
    color: #ed8796;
}

blu {
    color: #8caaee;
}

ora {
    color: #f5a97f;
}

pur {
    color: #ca9ee6;
}

pin {
    color: #f5bde6;
}

mag {
    color: #c6a0f6;
}

gra {
    color: #7dc4e4;
}

gre {
    color: #a6da95;
}

dar {
    color: #5c5f77;
}

yel {
    color: #eed49f;
}

code {
    background-color: #0C1023;
    color: orange;
    padding: 0.25em;
    border-radius: 0.25em;
    border: 0.075em solid #349eeb;
} 

pre:has(code) {
    background-color: #0C1023;
    color: #eff1f5;
    padding: 0.5em 0.75em;
    border-radius: 0.35em;
    border: 0.075em solid #349eeb;
    width: calc(100% - 1.5em);
    code {
        color: unset;
        background-color: transparent;
        padding: unset;
        border: unset;
    }
}
